.DS_Store

node_modules
package-lock.json
dist
demo/dist
.cache

otter-plugin/dev-bundle/dist
otter-plugin/dev-bundle/deps
otter-plugin/dev-bundle/node_modules
otter-plugin/dev-bundle/package-lock.json
otter-plugin/dev-bundle/.cache

