@tailwind base;
@tailwind components;
@tailwind utilities;


.monospace {
  font-family: Hack, Consolas, Menlo, 'Source Code Pro', 'Lucida Sans Typewriter', 'Courier New', courier, sans-serif;
}


.c-toggler-icon {
  position: relative;
  top: 0.12rem;
  margin-left: 0.3rem;

  transition: transform 0.15s ease-in-out;

  width: 1em !important;
  height: 1em !important;
}


.select {
  position: relative;
}
.select::after {
  content: "⌄";
  position: absolute;
  right: 0.5rem;
  top: 0.08rem;
  font-size: 1.2em;
}


.react-toggle {
  line-height: 1em !important;
  height: 1em !important;
}
.react-toggle-track {
  width: 24px !important;
  height: 15px !important;
  background-color: #a6a6a6 !important;
}
.react-toggle-thumb {
  width: 13px !important;
  height: 13px !important;
}
.react-toggle--checked .react-toggle-track {
  background-color: #3a98e4 !important;
}
.react-toggle--checked .react-toggle-thumb {
  left: 10px !important;
}


.ql-container,
.ql-editor {
  height: auto;
}
.ql-editor {
  max-height: 16rem;
  resize: vertical;
}
.ql-editor[style*="height"] {
  height: unset;
  max-height: unset;
}

.ql-editor h1, h2 {
  font-weight: 700 !important;
}
.ql-editor p,
.ql-editor ul,
.ql-editor li {
  font-size: 15px;
}
.ql-editor h1,
.ql-editor h2,
.ql-editor h3,
.ql-editor h4,
.ql-editor h5,
.ql-editor h6,
.ql-editor p,
.ql-editor ul,
.ql-editor ol,
.ql-editor blockquote {
  margin-bottom: 1.1rem !important;
}
.ql-editor li {
  margin-bottom: 0.6rem !important;
}
.ql-editor h1,
.ql-editor h2,
.ql-editor h3,
.ql-editor h4,
.ql-editor h5,
.ql-editor h6 {
  font-weight: 900;
}
.ql-editor h1:not(:first-child) {
  margin-top: 2.5rem;
}
.ql-editor h2:not(:first-child),
.ql-editor h3:not(:first-child),
.ql-editor h4:not(:first-child),
.ql-editor h5:not(:first-child),
.ql-editor h6:not(:first-child) {
  margin-top: 1.5rem
}
.ql-editor h1 + h2 {
  margin-top: 0 !important;
}
.ql-editor h1 { font-size: 2rem   !important; }
.ql-editor h2 { font-size: 1.6rem !important; }
.ql-editor h3 { font-size: 1.3rem !important; }
.ql-editor h4 { font-size: 1.175rem !important; }
.ql-editor h5 { font-size: 1.1rem !important; }
.ql-editor h6 { font-size: 1rem   !important; }

