.monospace {
  font-family: Hack, Consolas, Menlo, 'Source Code Pro', 'Lucida Sans Typewriter', 'Courier New', courier, sans-serif;
}

.svg-font svg {
  height: 1em;
  width: 1em;
}

.svg-font svg,
.svg-font svg g,
.svg-font svg path,
.svg-font svg circle {
  fill: currentColor !important;
  stroke: currentColor !important;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.absolute-center-y {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.absolute-center-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.absolute-fill {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.aspect-1x1 { padding-bottom: 100%; }
.aspect-16x10 { padding-bottom: 62.5%; }

.cursor-grabbing {
  cursor: grabbing;
}
